.suggestion-card{
  line-height: .8;
  padding: 20px 10px;
  font-size: 1rem;
  color: #333;
  border-bottom: 1px solid #ddd;
  height: 62px;
}
.list-name {
  font-style: italic;
  font-weight: bold;
  font-size: .9rem;
}
.suggestion-card:hover{
  cursor: pointer;
}

.active-suggestion {
  background-color: #fffcbc;
}